@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'LoL';
        src: url('../fonts/BeaufortforLOL-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'LoL';
        src: url('../fonts/BeaufortforLOL-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'LoL';
        src: url('../fonts/BeaufortforLOL-Bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: 'LoL';
        src: url('../fonts/BeaufortforLOL-Light.woff') format('woff');
        font-weight: 800;
        font-style: normal;
    }

    .clipped {
        --edge-size: 1em;
        clip-path: polygon(var(--edge-size) 0,
                100% 0,
                100% calc(100% - var(--edge-size)),
                calc(100% - var(--edge-size)) 100%,
                0 100%,
                0 var(--edge-size));
    }

    .text-shadow {
        text-shadow: 4px 4px 8px rgba(0,0,0,0.6);
    }
}